head {
  width: 100%;
}

body {
  margin-top: 2%;
  padding: 20;
}

a {
  text-decoration: none;
  color: black;
}

.custom-btn {
  width: 60px;
}

.btn-info {
  background-color: #57ecfa;
}

.table-hover tbody tr:hover>* {
  background-color: #befafa;
}

h1 {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}

h3 {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;

}

input,
option,
select,
button,
a {
  margin-bottom: 10px;
}

select {
  width: 20% !important;
}

.username-color {
  color: #44cbd7;
}