<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
</head>

<body>
  <h1> Movies </h1>

  <table>
    <tr>
      <th> Title </th>
      <th> Year </th>
      <th> Genre </th>
    </tr>

    <tr th:each="movie : ${movies}">
      <td th:text="${movie.Title}"></td>
      <td th:text="${movie.Year}"></td>
      <td th:text="${movie.Genre}"></td>
      <td><a th:href="@{/editmovie/{id}(id=${movie.movieId})}"> Edit </a></td>
      <!-- <td><a th:href="@{/delete/{id}(id=${movie.movieId})}"> Delete </a></td> -->
    </tr>
  </table>

  <a th:href="@{/addmovie}"> Add a new movie </a>
  <a th:href="@{/mymovies}"> My Movies </a>
</body>

</html>