<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kalam:wght@300;400;700&display=swap"
    rel="stylesheet">

  <!-- Oma CSS -->
  <link rel="stylesheet" th:href="@{/styles.css}">

</head>

<body>
  <div class="container mt-3">

    <h3> Register </h3>

    <!-- Error viesti, jos username on jo käytössä -->
    <div th:if="${error}" class="d-flex justify-content-center">
      <div class="alert alert-danger text-center py-1">
        <span th:text="${error}"></span>
      </div>
    </div>

    <form th:object="${user}" th:action="@{/register}" method="post" action="#">

      <div>
        <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </div>
        <input type="text" th:field="*{name}" placeholder="Name">
      </div>

      <div>
        <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
        </div>
        <input type="text" th:field="*{username}" placeholder="Username" />
      </div>

      <div>
        <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        </div>
        <input type="password" th:field="*{password}" placeholder="Password" />
      </div>

      <button type="submit" class="btn btn-info btn-sm">Register</button>
      <a th:href="@{/login}" class="btn btn-info btn-sm"> Cancel </a>
    </form>

  </div>

</body>

</html>